@import '../../../public/style/vars.scss';

#myform {
  border-radius: 20px;
  background-color: #42380d;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  gap: 1rem;
}

.createAnnouncement__title {
  color: white;
  text-align: center;
  font-weight: 100;
  padding: 3rem;
}

.createAnnouncement__radio, .createAnnouncement__button {
  margin-right: 1rem;
  cursor: pointer;
}

.createAnnouncement__textarea {
  max-width: 500px;
  height: 250px;
}

