@import '../../../public/style/vars.scss';

.login__container {
  height: 70vh;
  padding: 1rem;
}


.login__form {
  @include center;
  height: 100%;
  h1 {
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    color: #E9E9E9;
    font-weight: 400;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #F7BE24; 
  }

}
 .login__input {
    @include inputStyle;
 }

 .login__button {
    @include buttonStyle;
 }

 .login__input, .login__button {
    margin: 1rem;
    width: 20rem;
    max-width: 90%;
 }

 .login__message {
   color: #F7BE24;
 }